/* .iphone{
   text-align: center;
   padding: 1.5rem;
   margin-top: 2.5rem;
}
.iphone h6{
   color: #9fa3a7;
}
.iphone p{
   color: #9fa3a7;
}
.rotatery-class{
   background-color: #F7F8F9;
}
.rotatery h1{
   margin-top: 2rem;
   margin-bottom: 2rem;
}
.rotatery{
   text-align: center;
   padding: 3rem;
}
.rotatery h6{
   color: #9fa3a7;
}
.rotatery a{
   color:aqua;
}
.sec-row-col1{
   width: 20rem;
}
.keyboard{
   background-color: #F05638;
   padding: 3rem;
}
.keyboard{
   text-align: center;
}
.keyboard img{ */
   /* width: 20rem; */
   /* margin-left: -3rem;
}
.keyboard a{
   text-decoration: none;
   color: yellow;
   font-size: 15px;
   display: flex;
   justify-content: center;

}
.game-col{ */
   /* background-color:aqua; */
   /* padding: 6.5rem; */
   /* height: 25rem;
   padding: 2rem;
}
.game-col h3{
   text-align: center;
}
.game-col a{
   text-decoration: none;
   color: yellow;
   display: flex;
   justify-content: center;
   margin-top: 2rem;
} */


















/* .iphone{
    background-color: blanchedalmond;
 } */
 /*.iphone{
    width: 1vmin;
 } */
/* .keyboard{
    background-color: #f05638;
}
.popular-image{
    color: #fff;
    background-color: #8F76BC;
}
.experiance{
    background-color: #93B6B7;
}
.experiance button{
    background-color: #FA684F;
    border: none;
    border-radius: 1vmin;
}
 .popular-btn button{
    background-color: #FFC80A;
    border: none;
    border-radius: 2vmin;
 }
 .rotatery{
   background-color: #F7F8F9;
 }
 .twitter{
    background-color: #38D5F4;
 }
 .last-div{
    background-color: #2C2C2C;
 }
 .tv-detail{
    color: #fff;
 } */