.swiper {
  width: 800px;
  height: 700px;
}
.main-bar{
  background-color: aqua;
}
.main-swiper{
  background-image: url('https://4kwallpapers.com/images/walls/thumbs/18354.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 39rem;
  /* width: 100%;
  height: 23rem; */
}




/* https://4kwallpapers.com/images/walls/thumbs/24719.jpg */